* {
    box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 83px 0px;
	background: url(../img/body_bg.jpg) no-repeat #30468d center top;
	font-family: 'open_sanslight';
	line-height: 100%;
}
@font-face {
	font-family: 'open_sanslight';
	src: url('../fonts/opensans_light.eot');
	src: url('../fonts/opensans_light.eot?#iefix') format('embedded-opentype'),  url('../fonts/opensans_light.woff') format('woff'),  url('../fonts/opensans_light.ttf') format('truetype'),  url('../fonts/opensans_light.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans_regular.eot');
	src: url('../fonts/opensans_regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/opensans_regular.woff') format('woff'),  url('../fonts/opensans_regular.ttf') format('truetype'),  url('../fonts/opensans_regular.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
article, 
aside, 
footer, 
header, 
nav, 
section {
	display: block;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
ul, 
p {
	padding: 0px;
	margin: 0px;
}
.relative {
	position: relative;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.container {
	max-width: 960px;
	margin: 0 auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	overflow:hidden;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
header {
	background: #2f364a;
	font-family: 'open_sansregular';
}
header .logo {
	padding: 5px 0 5px 19px;
}
a {
	display: inline-block;
}
header nav li {
	float: left;
	font-size: 13px;
	margin: 12px 13px 12px 0;
	padding-left: 13px;
	list-style-type: none;
}
header nav li:first-child:before {
	content: "";
}
header nav li:before {
	color: #1f2635;
	content: "\2022";
	position: relative;
	top: 2px;
	left: 0px;
	padding-right: 10px;
	font-size:16px;
}
header nav li:first-child {
	margin-right: 0px;
}
header nav li a {
	color: #78829d;
	text-decoration: none;
}
header .user-name {
	background: #15a4fa;
	color: #fff;
	font-size: 13px;
	padding:2px 12px 5px;
	align-items: center;
	display: flex;
}
header .user-name img {
	max-height: 34px;
	max-width: 34px;
	margin-right: 10px !important;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: 2px solid #eef1f7;
}
header .user-name i {
	display: block;
	float: right;
	margin-left: 20px;
	cursor: pointer;
}
header .user-name i img {
	border: none;
}
.left-sidebar {
	background: #19202e;
	width: 200px;
}
.left-sidebar ul {
	background: #1f2637;
	border-top: 1px solid #282f41;
	border-bottom: 1px solid #141824;
	margin: 0 0 4px;
	padding: 0px;
	list-style-type: none;
}
.left-sidebar ul:first-child {
	border-top: none;
	padding: 35px 0;
}
.left-sidebar ul:last-child {
	border-bottom: none;
	margin-bottom: 0px;
}
.left-sidebar ul:first-child li {
	text-align: center;
}
.add-book {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: none;
	font-size: 14px;
	padding: 13px 19px 11px 18px;
	background-color: #f2795a;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	text-transform: uppercase;
}
.add-book .fa {
	font-size: 16px;
}
.left-sidebar a {
	color: #78829d;
	font-size: 13px;
	text-decoration: none;
	text-align: left;
	display: block;
	padding: 13px 20px;
}
.main-nav li a.active, 
.main-nav li a:hover {
	background-color: #15a4fa;
	color: #fff;
}
.left-sidebar .fa {
	font-size: 16px;
	margin-right: 10px;
}
ul.personal-categories{
	padding:14px 0;	
}
.personal-categories li {
	display: block;
	margin: 18px 20px;
}
.personal-categories a {
	display: inline;
	padding: 0px;
	vertical-align:top;
}
.personal-categories li:before {
	color: #e64c66;
	content: "\2022";
	position: relative;
	left: 0px;
	top:0px;
	padding-right: 10px;
	font-size:32px;
}
.personal-categories li.yellow-dise:before {
	color: #ffab00;
}
.personal-categories li.blue-dise:before {
	color: #00bfdd;
}
.personal-categories li.purple-dise:before {
	color: #7874cf;
}
ul.history-list {
	overflow: hidden;
	padding: 35px 0;
}
.history-list li {
	margin: 0 20px 18px;
	color: #78829d;
	font-size: 12px;
	line-height: 18px;
}
.history-list li:last-child {
	margin-bottom: 0px;
}
.history-list .fa {
	margin-right: 3px;
}
.history-list span {
	color: #97b3ce;
}
.history-list .history {
	position: relative;
}
.history-list .history p {
	padding-left: 20px;
	margin:0px;
}
.history-list .history:before {
	content: "\f017";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #000;
	font-size: 18px;
	padding-right: 20px;
	position: absolute;
	top: 1px;
	left: 0;
	color: #78829d;
}
.content-section {
	width: 760px;
}
.page-header{
	background: #eef1f7;
	
}
.content-section .search-fliter-section {
	border-top: 1px solid #f4f6fa;
	overflow: hidden;
	padding: 8px 20px;
}
.page-title{
	border-bottom: 1px solid #dadfea;	
}
.page-title h1{
	color: #444c63;
	font-size: 22px;
	padding: 29px 20px 26px;
	font-weight: normal;
	line-height:18px;
	
}
.tab-menu{
	width:60%;	
}
.tab-menu li {
	float: left;
	list-style-type: none;
}
.tab-menu li a {
	color: #8c97b2;
	font-size: 12px;
	text-decoration: none;
	padding: 6px 11px;
	background: #eef1f7;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	display: block;
}
.tab-menu li a.active {
	background: #97b3ce;
	color: #fff;
}
.search-warpper{
	width:40%;	
}
.search-field {
	background: #fff;
	border: 1px solid #c7cddb;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	box-shadow: none;
	color: black;
	padding: 5px 37px 5px 12px;
	width: 100%;
	color: #8c97b2;
	font-size: 13px;
}
.search-label {
	position: absolute;
	right: 16px;
	top: 4px;
	font-size: 14px;
	color: #8c97b2;
}
.container-warpper {
	padding: 0 20px;
	margin: 30px 0;
}
.column-warpper {
	max-height: 645px;
	overflow-y: auto;
	overflow-x: hidden;
}
.row {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 30px;
	overflow: hidden;
}
.row:last-child {
	margin-bottom: 0px;
}
.column {
	width: 16.8%;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}
.column .pro-img img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	max-width: 100%;
}
.column .by-name {
	display: block;
	color: #6f7d95;
	font-size: 12px;
	margin-bottom: 10px;
}
.column .pro-name {
	color: #444c63;
	font-size: 16px;
	margin: 10px 0 8px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height:19px;
}
.rating .fa {
	margin-right: 2px;
	color: #ffab00;
	margin-bottom:30px;
}
footer {
	background: #181e2c;
}
.helpBtn {
	background: #1f2637;
}
.settingBtn {
	background: #15a4fa;
}
.helpBtn a, 
.settingBtn a {
	color: #fff;
}
.helpBtn, 
.settingBtn {
	padding: 16px 20px 16px;
	font-size: 16px;
}

