* {
	box-sizing: border-box;
}
body {
	background: #30468d url("../img/body_bg.jpg") no-repeat scroll center top;
	font-family: "open_sanslight";
	line-height: 100%;
	margin: 0;
	padding: 83px 0;
	line-height: 1.42857;
	font-size: 14px;
}
@font-face {
	font-family: 'open_sanslight';
	src: url('../fonts/opensans_light.eot');
	src: url('../fonts/opensans_light.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans_light.woff') format('woff'), url('../fonts/opensans_light.ttf') format('truetype'), url('../fonts/opensans_light.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans_regular.eot');
	src: url('../fonts/opensans_regular.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans_regular.woff') format('woff'), url('../fonts/opensans_regular.ttf') format('truetype'), url('../fonts/opensans_regular.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
article, 
aside, 
footer, 
header, 
nav, 
section {
	display: block;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
ul, 
p {
	margin: 0;
	padding: 0;
}
.relative {
	position: relative;
}
.pull-left, 
.col-3, 
.col-9, 
.col-6 {
	float: left;
}
.pull-right {
	float: right;
}
.container {
	background: #fff none repeat scroll 0 0;
	border-radius: 5px;
	margin: 0 auto;
	max-width: 1160px;
	overflow: hidden;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.col-3 {
	width: 25%;
}
.col-6 {
	width: 50%;
}
.col-9 {
	width: 75%;
}
header {
	background: #2f364a none repeat scroll 0 0;
	font-family: "open_sansregular";
}
header .logo {
	padding: 5px 0 5px 19px;
}
header .logo a {
	display: inline-block;
}
.menu-btn {
	display: none;
	float: right;
	color: #eef1f7;
	font-size: 18px;
}
.fa-bg {
	background: #1f2637 none repeat scroll 0 0;
}
.head-rg {
	float: right;
}
header nav {
	float: left;
}
header nav li {
	float: left;
	font-size: 13px;
	list-style-type: none;
	margin: 8px 13px 8px 0;
	padding-left: 13px;
}
header nav li:first-child:before {
	content: "";
}
header nav li:before {
	color: #1f2635;
	content: "\2022";
	position: relative;
	top: 2px;
	left: 0px;
	padding-right: 10px;
	font-size: 16px;
}
header nav li:first-child {
	margin-right: 0;
}
header nav li a {
	color: #78829d;
	text-decoration: none;
}
header .user-name {
	align-items: center;
	background: #15a4fa none repeat scroll 0 0;
	color: #fff;
	display: flex;
	float: right;
	font-size: 13px;
	padding: 2px 12px 5px;
}
header .user-name img {
	border: 2px solid #eef1f7;
	border-radius: 50px;
	margin-right: 10px !important;
	max-height: 34px;
	max-width: 34px;
}
header .user-name i {
	cursor: pointer;
	display: block;
	float: right;
	margin-left: 20px;
}
header .user-name i img {
	border: medium none;
}
.left-sidebar, 
.mob-footer-top {
	background: #19202e none repeat scroll 0 0;
}
.left-sidebar ul, 
.mob-footer-top ul {
	background: #1f2637 none repeat scroll 0 0;
	border-bottom: 1px solid #141824;
	border-top: 1px solid #282f41;
	list-style-type: none;
	margin: 0 0 4px;
	padding: 0;
}
.left-sidebar .add-book-wrapper {
	border-top: medium none;
	padding: 35px 0;
}
.left-sidebar ul:last-child, 
.mob-footer-top ul:last-child {
	border-bottom: medium none;
	margin-bottom: 0;
}
.left-sidebar a, 
.mob-footer-top a {
	color: #78829d;
	display: block;
	font-size: 13px;
	padding: 13px 20px;
	text-align: left;
	text-decoration: none;
}
.mob-link li {
	text-align: center;
}
.mob-link a {
	display: inline-block;
	padding: 0px;
	margin: 10px 2px;
}
.mob-link a:first-child:before {
	content: "";
	padding: 0px;
}
.mob-link a:before {
	content: "\2022";
	position: relative;
	top: 2px;
	left: 0px;
	padding-right: 10px;
	font-size: 16px;
}
.left-sidebar .fa, 
.mob-footer-top .fa {
	font-size: 16px;
	margin-right: 10px;
}
.add-book {
	background-color: #f2795a;
	border: medium none;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin: 0 auto;
	padding: 13px 19px 11px 18px;
	text-align: center;
	text-transform: uppercase;
}
.main-nav li a.active, 
.main-nav li a:hover {
	background-color: #15a4fa;
	color: #fff;
}
ul.personal-categories {
	padding: 14px 0;
}
.personal-categories li {
	display: block;
	margin: 18px 20px;
	line-height: 18px;
}
.personal-categories a {
	display: inline;
	padding: 0;
	vertical-align: top;
}
.personal-categories li:before {
	color: #e64c66;
	content: "\2022";
	position: relative;
	left: 0px;
	top: 0px;
	padding-right: 10px;
	font-size: 32px;
}
.personal-categories li.yellow-dise:before {
	color: #ffab00;
}
.personal-categories li.blue-dise:before {
	color: #00bfdd;
}
.personal-categories li.purple-dise:before {
	color: #7874cf;
}
ul.history-list {
	overflow: hidden;
	padding: 35px 0;
}
.mob-footer-top ul.history-list {
	overflow: hidden;
	padding: 20px 0;
}
.history-list li {
	color: #78829d;
	font-size: 12px;
	line-height: 18px;
	margin: 0 20px 35px;
}
.mob-footer-top .history-list li {
	margin: 0 10px 20px;
}
.history-list li:last-child, 
.mob-footer-top .history-list li:last-child {
	margin-bottom: 0;
}
.history-list .fa {
	margin-right: 3px;
}
.history-list span {
	color: #97b3ce;
}
.history-list .history {
	position: relative;
}
.history-list .history p {
	padding-left: 20px;
}
.history-list .history:before {
	content: "\f017";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #000;
	font-size: 18px;
	padding-right: 20px;
	position: absolute;
	top: 1px;
	left: 0;
	color: #78829d;
}
.page-header {
	background: #eef1f7 none repeat scroll 0 0;
}
.search-fliter-section {
	border-top: 1px solid #f4f6fa;
	padding: 8px 20px;
}
.page-title {
	border-bottom: 1px solid #dadfea;
}
.page-title h1 {
	color: #444c63;
	font-size: 22px;
	font-weight: normal;
	padding: 29px 20px 26px;
	line-height: 18px;
}
.tab-menu {
	float: left;
	width: 60%;
}
.tab-menu li {
	float: left;
	list-style-type: none;
}
.tab-menu li a {
	background: #eef1f7 none repeat scroll 0 0;
	border-radius: 30px;
	color: #8c97b2;
	display: block;
	font-size: 12px;
	padding: 6px 11px;
	text-decoration: none;
}
.tab-menu li a.active {
	background: #97b3ce none repeat scroll 0 0;
	color: #fff;
}
.search-warpper {
	float: right;
	width: 40%;
}
.search-field {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #c7cddb;
	border-radius: 50px;
	box-shadow: none;
	color: #8c97b2;
	font-size: 13px;
	padding: 5px 37px 5px 12px;
	width: 100%;
	font-family: "open_sanslight";
}
.search-label {
	color: #8c97b2;
	font-size: 14px;
	position: absolute;
	right: 16px;
	top: 4px;
}
.container-warpper {
	margin: 30px 0;
	padding: 0 10px;
}
.column-warpper {
	max-height: 645px;
	overflow-x: hidden;
	overflow-y: auto;
}
.column {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 17.6%;
}
.visible-sm, 
.visible-md {
	display: none;
}
.column .pro-img img {
	border-radius: 3px;
	max-width: 100%;
}
.column .by-name {
	color: #6f7d95;
	display: block;
	font-size: 12px;
	margin-bottom: 10px;
}
.column .pro-name {
	color: #444c63;
	font-size: 16px;
	line-height: 19px;
	margin: 10px 0 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.rating .fa {
	color: #ffab00;
	margin-bottom: 30px;
	margin-right: 2px;
}
footer {
	background: #181e2c none repeat scroll 0 0;
}
.helpBtn {
	background: #1f2637 none repeat scroll 0 0;
}
.settingBtn {
	background: #15a4fa none repeat scroll 0 0;
}
.helpBtn a, 
.settingBtn a {
	color: #fff;
}
.helpBtn, 
.settingBtn {
	font-size: 16px;
	padding: 16px 20px;
}
