// Color variables
$header_bg:#2f364a;
$aside_bg:#19202e;
$aside_sectionBg:#1f2637;
$footer_bg_color:#181e2c;
$top_menu_bullet:#1f2635;
$aside_section_top_bor:#282f41;
$aside_section_bot_bor:141824;
$add_book_btn:#f2795a;
$dark_red_disc:#e64c66;
$blue_disc:#00bfdd;
$purple_dise:#7874cf;
$page_title_bor_bot:#dadfea;
$search_section_bor_bot:#f4f6fa;
$white_color: #ffffff;
$black_color:#000;
$help_btn_bg:#1f2637;
$dark_grey_color: #78829d;
$info_blue_color: #15a4fa;
$sky_blue_color: #97b3ce;
$light_blue_color: #c7cddb;
$half_white_color: #eef1f7;
$orange_color: #ffab00;
$by_name_color:#6f7d95;
$pro_name_color:#444c63;
$grey_color: #8c97b2;

